# Project exclude paths
/.gradle/
/common/build/
/common/build/classes/kotlin/desktop/main/
/desktop/build/
/inventory/build/
/buildSrc/build/
/buildSrc/.gradle/
/android/build/

# Local configuration file (sdk path, etc)
local.properties

# Version control
vcs.xml

# IntelliJ
*.iml
.idea/
misc.xml